@font-face {
  font-family: 'BalooBhaina-Regular';
  src: url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.woff') format('woff'), url('BalooBhaina-Regular.ttf')  format('truetype'),
     url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.svg#BalooBhaina-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), url('Montserrat-Light.ttf')  format('truetype'),
  url('fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
.background
{
	background-image: url(picture/baner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.head-1
{
	background-image: url(picture/cloud-baner-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 50px;
}

.head-1 .navbar-light .list a.note
{
	color: #ffb600;
	border-bottom: 1px solid #ffb600;
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	padding-top: 40px;
}
.head-1 .navbar-light .list a.setting
{
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	padding-top: 42px;
}

.head-1 .navbar-light
{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon
{
	margin-right: 10px;
	margin-top: 4%;	
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-1
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 7px;
	color: white;
	background-color:  #ffb600;
	margin-left: 20px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-2
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 5px;
	color: #ffb600;

}

.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-3
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 2px;
	color: #ffb600;
}


.head-1 .navbar-light .navbar-collapse .list .nav-item.icon a.nav-link.icon-4
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 5px;
	color: #ffb600;
	margin-right: 10px;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.sign-in
{
	background-image: url(picture/chest.png);
	background-repeat: no-repeat;
	padding-top: 16px ;
	padding-bottom: 50px;
	float: right;
}

.head-1 .navbar-light .navbar-collapse .list .nav-item.sign-in a.nav-link
{
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	color: white;
	padding: 0px 39px;
}

.head-2
{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.head-2 img
{
	width: 37%;
	height: 100%;
}

.head-3
{
	transform: translateY(-9%);
	z-index: 2;
	position: relative;
}

.head-3 .left img
{
	width: 84%;
	height: 90%;
	margin-top: 13%;
}

.head-3 .mid img
{
	width: 100%;
	height: 100%;
}

.head-3 .right img
{
	width: 100%;
	height: 100%;
}

.head-3 .mid .slide-control
{
  width: 98%;
  z-index: 1;
  position: absolute;
  top: 50%;
}

.head-3 .mid .slide-control .previous
{
	display: inline-flex;
	float: left;
	transform: translateX(-100%);
}

.head-3 .mid .slide-control .previous a.previous-1
{
  font-family: 'BalooBhaina-Regular';
  font-size: 30px;
  color: white;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(255,255,255,0);
  padding: 0;
  border-width: 0;
}

.head-3 .mid .slide-control .next
{
	display: inline-flex;
	float: right;
	transform: translateX(-67%);
}

.head-3 .mid .slide-control .next a.next-1
{
  font-family: 'BalooBhaina-Regular';
  font-size: 30px;
  color: white;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(255,255,255,0);
  padding: 0;
  border-width: 0; 
}

.head-3 .mid .slick-dots
{
	bottom: 17px;
}

.head-3 .mid .slick-dots li button:before
{
	font-size: 20px;
}

.head-3 .button
{
	z-index: 4;
}

.head-3 .button a.upload
{
	top: 50%;
	left: 37%;
	font-family: 'BalooBhaina-Regular';
    font-size: 50px;
    position: relative;
    color: #ffb600;
    -webkit-text-stroke: 1px white;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 100px;
    text-transform: uppercase;
}

header .cloud
{
	position: absolute;
	z-index: 1;
	bottom: -16%;
}

header .cloud img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.foot .col-md-4
{
	position: relative;
	z-index: 4;	
}

.foot .col-md-4.take-care
{
	padding-left: 3%;
}

.foot .col-md-4 img
{
	width: 92%;
	height: 92%;
}


.last-page .col-md-4 h2.title
{
  font-size: 18px;
  font-family: 'BalooBhaina-Regular';
  margin-top: 50px;
}

.last-page .col-md-4 .content-left
{
  color:#1c1c1c;
  font-family: 'BalooBhaina-Regular';
  font-size: 15px;
}

.last-page .col-md-4 .content-left .fa.fa-envelope-o
{
  border: 1px solid;
  padding: 1px;
  border-color: #696969;
  border-radius: 5px;
  background-color: #525252;
  color: white;
}

.last-page .col-md-4 .content-left i
{
  color: #525252;
}

.last-page .col-md-4 .col-sm-4 .wrap-img img
{
  padding: 10px 0;
}



footer .leg-foot
{
  background-image: url(picture/footer-straight.png);
  background-repeat: no-repeat;
  margin-top: 12%;
  background-position: center;
  height: 100px;
  width: 100%;

}

footer .leg-foot a
{
  position: relative;
  margin-top: 2%;
  margin-left: 49%;
  border: 5px solid #e2e1de;
  border-radius: 100px;
  color: #e2e1de;
  padding: 0px 1px;
  width: 33px;
  height: 32px;
  background-color: #ffb400;
}


.footer-main .navbar .slimz .nav-item a.nav-link
{
  font-family: 'BalooBhaina-Regular';
  font-size: 17px;
  color: black;
}

.footer-main .navbar .navbar-brand
{
  padding-left: 10%;
  font-family: 'BalooBhaina-Regular';
  font-size: 16px;
  color: black;
}
